<template name="principal">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="ContaCartao.css"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large black">
          <i class="large material-icons">mode_edit</i>
      </a>

      <ul>
          <li><a href ="/principal" class="btn-floating light blue darken-1 "><i class="material-icons">insert_chart</i></a></li>
          <li><a href="/recebi" class="btn-floating light blue darken-2"><i class="material-icons">add</i></a></li>
          <li><a href= "/paguei" class="btn-floating light blue darken-3"><i class="material-icons">remove</i></a></li>
      </ul>
  </div>
    <div class="row">
      <center><h4>Olá, seu saldo é</h4></center>
      <center><h5 class="grey-text">R$ 100,00</h5></center>



    </div>


</template>
