body {
    background-color: #EFF3F1;
}
div #esp {
    margin-top: 50px;
}
#recebi {
    margin-top: 20px;
    font-size: 25px;
    text-align: right;
}
#label {
    margin-top: 25px;
    font-size: 30px;
}
#check {
    margin-top: -100px;
    padding-left: 700px;
    padding-top: -100px;
}
.button {
    text-align: right;
    margin-right: 90px;
    margin-bottom: 50px;
}
