<template name='apresentac'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <script charset="utf-8">
        $(document).ready(function() {
            $('.parallax').parallax();
        });
    </script>
    <div class="parallax-container">
        <div class="parallax"><img src="/images/size_810_16_9_profissionais-felizes1.jpg"></div>
    </div>
    <div class="section brown lighten-5 z-depth-3">
        <div class="row container">
            <h2 class="header black-text text-darken-3 lighten-3 ">Ação consciente</h2>
            <p class="black-text text-darken-1 lighten-3">A melhor maneira de tratar de um jeito inteligente o que pode ser a sua garantia de conforto e bem estar.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/images/livros-que-ajudam-a-enriquecer.jpg"></div>
    </div>
    <div class="section brown lighten-5 z-depth-3">
        <div class="row container">
            <h2 class="header black-text text-darken-3 lighten-3 ">Motivação</h2>
            <p class="black-text text-darken-1 lighten-3">Criando as possibilidades de libertar suas vontades, de viajar ou de conheçer o mundo.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/images/14755_1325438301_4f00955d1de55.jpg"></div>
    </div>



</template>
