<template name="footer">
    <footer class="page-footer brown lighten-5">
        <div class="nav-wraper">
            <div class="row">
                <div class="col s12">
                    <h6 class="black-text">Software de gestão financeira, desenvolvido com o intuito de transpor mais facilidade e controle às suas ações orçamentárias</h6>
                    <p class="black-text text-lighten-4 right">Made with ♥ by DeathlyDev</p>
                </div>
            </div>
        </div>

    </footer>

</template>
