<template name="login">
    <div class="z-depth-2" id="box">
        <div>
            <form class="col s4">
                <div class="row" id="ecdsp">
                    <div class="input-field col s12">
                        <input placeholder="Nome" id="recebi" type="text" class="validate">
                        <label id="labe" for="nome" class="active"></label>
                    </div>
                </div>

                <div class="row">

                    <div class="row" id="esp">
                        <div class="input-field col s12">
                            <input placeholder="Senha" type="password" id="recebi" class="validate">
                            <label id="labe" for="valorInicial" class="active"></label>
                        </div>
                    </div>

                </div>
            </form>
            {{> loginButtons}}

        </div>
    </div>

</template>
